citations.tplx
FSDS_summative_1366527.ipynb
FSDS_summative_1366527.pdf
FSDS_summative_1366527.zip
FSDS_summative_V2.1-Copy1.ipynb
FSDS_summative_V2.ipynb
FSDS_summative_V3.1.ipynb
part2.csv
ref.bib
texput.log
Untitled.ipynb
WebLearn _ OII SDS Assignments _ Assignments.pdf
Write_up.docx
.ipynb_checkpoints/citations-checkpoint.tplx
.ipynb_checkpoints/FSDS_summative_1366527-checkpoint.ipynb
.ipynb_checkpoints/FSDS_summative_V2-checkpoint.ipynb
.ipynb_checkpoints/FSDS_summative_V2.1-Copy1-checkpoint.ipynb
.ipynb_checkpoints/FSDS_summative_V3.1-checkpoint.ipynb
.ipynb_checkpoints/Summative_V1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/WebLearn _ OII SDS Assignments _ Assignments-checkpoint.pdf
Untitled Folder/FSDS_summative_V2.1_old.ipynb
Untitled Folder/.ipynb_checkpoints/FSDS_summative_V2.1_old-checkpoint.ipynb
download.jfif
cultural_map.png
